{% extends "base.html" %}
{% load static %}

{% block title %} Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the meeting planner</h1>
<p> This is a demo application for the course
<em>Django:getting started</em>
    on <a href="http://www.pluralsight.com">Pluralsight</a>
</p>
<p>
    {{message}}
</p>
<img src="{% static 'website/m.png'%}" width="200px" />
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id%}">
                {{meeting.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
<a href={% url 'rooms' %}>Room List</a>
{% endblock%}